<div class="free-shipping-bar-container">
    <p class="free-shipping-bar-message">{{message}}<i data-toggle="tooltip" class="free-shipping-bar-message-tooltip" title="{{translate '<b>Free Shipping Estimator</b><br>Please note that the free shipping indicator is an estimation and used for illustration purposes only. The final qualification check is made at checkout.'}}" ></i></p>
</div>
<div class="free-shipping-bar-progress" style="width: {{diffpc}};"></div>