<div class="testimonials-testimonial">
    <span><div data-view="StarRating"></div>{{translate '<b>$(0)</b>: <i>$(1)</i> <small>($(2))</small>' writerName title createdDate}}</span>
    <p>{{text}}</p>
</div>